*{
    margin: 0;
    padding: 0;
}
.profile-img img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}
.main_menu {
    background: #fff;
    display: block;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 0px 7px 0px #00000033;
}
.designation {
    background-color: #eb7d1e;
    width: 90%;
    margin-left: 15px;
    padding: 2px;
    border-radius: 10px;
    color: #ffffff;
}

.social-icons {
    width: 100%;
    text-align: center;
}

.skills{
    text-align: left;
}

.flex-items {
    display: flex;
    justify-content: space-between;
}

.percentage {
    text-align: right;
}
.skills-details span {
    width: 50%;
}
.progressbar-container {
    width: 100%;
}
.skills-details {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}
.cv {
    background-color: rgb(247 143 66);
    border-color: white;
    padding: 5px;
    width: 100%;
    cursor: pointer;
}

.menus{
    display: flex;
    justify-content: space-around;
    width: 50%;
    float: right;
    list-style-type: none;
    margin: 0px;
    padding: 15px 0;
}

.home-section {
    margin-top: 30px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 7px 0px #00000033;
    background: #fff;
    padding: 20px;
    border-radius: 6px;
}
.pro-details{
    text-align: left;
}
.typing_animation_line{
    color: red;
}
.header-section {
    padding-top: 30px;
}
.texts span{
    color: red;
}

.pro-details h2{
    color: #eb7d1e;
}

.about-details{
    text-align: left;
}

.about-details h2{
    color: red;
}

.experience {
    margin: auto;
}

.skill-icons{
    width: 100px;
    background: #fff;
    padding: 10px;
}

.skills h2 {
    text-align: center;
}

.img {
    width: 200px;
    margin-top: 60px;
}

.header-section .row {
    margin: 0;
}
body {
    background: #efefef;
}
.sidebar-section {
    background: #fff;
    box-shadow: 0px 0px 7px 0px #00000033;
    padding: 20px;
    position: sticky;
    top: 0;border-radius: 6px;
}

.intro {
    font-size: 3rem;
    font-weight: 600;
}

.btn-pro {
    margin-right: 15px;
    background: #eb7d1e;
    border: none;
    padding: 8px;
    border-radius: 8px;
    color: #fff;
}

.btn-talk {
    background: #eb7d1e;
    border: none;
    padding: 8px;
    border-radius: 8px;
    color: #fff;
}

.round-exp {
    background: #fff;
    box-shadow: 3px 6px 2px #bbb;
    width: 300px;
    height: 300px;
    margin: auto;
    border-radius: 50%;
}

.round-text{
    padding: 100px;
}

.round-text h2{
    font-size: 3rem;
}

.second-row {
    margin-top: 20px !important;
}

img.pti-logo{
    width: 50px;
}

.ex-details {
    background: #fff;
    width: 500px;
    margin: auto;
}


.service_grid_list {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    text-align: left;
    height: 100%;
}
.service_grid_list svg {
    width: 40px;
    height: 40px;
}
.service_grid_list h2 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #2a2a2a;
}
.service_grid_list p {
    font-size: 16px;
    color: #2a2a2a;
}
.contact-section {
    margin-top: 40px;
}

.get_touch_form {
    background: #fff;
    border-radius: 10px;
    padding: 30px 20px;
    text-align: left;
}
.get_touch_form h3 {
    font-size: 20px;
}
.get_touch_form form {
    margin-top: 30px;
}

.info_div {
    margin-bottom: 20px;
    width: 100%;
}
.info_div label {
    width: 100%;
    text-transform: capitalize;
    margin-bottom: 3px;
    font-size: 14px;
}
.info_div input, .info_div textarea {
    width: 100%;
    border: none;
    background: #efefef;
    padding: 8px 8px;
    border-radius: 4px;
    font-size: 13px;
    color: #000;
}
button.sub_btn {
    background: #eb7d1e;
    border: none;
    font-size: 14px;
    padding: 8px 18px;
    display: block;
    border-radius: 5px;
    color: #fff;
}
.copyright h2 {
    font-size: 14px;
    font-weight: 400;
}

.contact_right_info {
    background: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 30px;
}

.location-items {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 15px;
}

.location-items p {
    margin-bottom: 0;
}

.contact_right_info svg {
    height: 20px;
    width: 20px;
    fill: white;
}
.contact_right_info span {
    width: 40px;
    height: 40px;
    background: #eb7d1e;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 10px;
}













